body {
  font-family: "VT323", monospace;
  font-weight: 400; /* texto normal */
  margin: 0;
  height: 100vh; /* ocupa toda la altura de la ventana */
  display: flex; /* activa flexbox */
  justify-content: center; /* centra horizontalmente */
  align-items: center; /* centra verticalmente */
  background: #f0f0f0; /* fondo de la página */

  background-color: #00807F; /* verde azulado Windows 95 */
}
.fira-code-text {
  font-family: "VT323", monospace;
  font-optical-sizing: auto;
  font-weight: 500; /* Medium */
  font-style: normal;
}
.boton_gris {
  font-family: "VT323", monospace; /* tipografía retro */
  font-size: 18px;
  color: #000;
  background-color: #c0c0c0; /* gris clásico */
  border: 2px outset #fff;   /* borde biselado claro */
  padding: 6px 20px;
  cursor: pointer;
  margin: 8px;
}

.boton_gris:hover {
  background-color: #dcdcdc; /* gris más claro */
}

.boton_gris:active {
  border: 2px inset #fff;    /* se hunde */
  background-color: #a0a0a0; /* gris más oscuro */
}
/* Cuadro gris */
.contenedor {
  background: #e0e0e0;
  padding: 2px 2px 2cap;
  border-radius: 2px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  text-align: center;
  width: 400px;
}
h1 {
  font-family: "VT323", monospace;
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  display: inline-block; /* que parezca un rótulo */

  /* Caja */
  background: #0827f5; /* azul windows 95 */
  border: 2px solid #999; /* borde gris */
  width: 98%;
  max-width: 356px;
  height: 30px;
  margin: 0;
  padding: 10px 20px; /* espacio interno */
  border-radius: 0; /* esquinas suavizadas */
  display: flex;
  text-align: center;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2); /* sombra ligera */
  display: flex;              /* activa flexbox dentro del h1 */
  justify-content: center;    /* centra horizontalmente */
  align-items: center;        /* centra verticalmente */
}
label {
  font-size: 20px;
}

input {
  font-family: "VT323", monospace; /* cambia la fuente del texto escrito */
  font-size: 16px;
  color: #000;                     /* color del texto */
}

input::placeholder {
  font-family: "VT323", monospace; /* fuente retro */
  font-size: 16px;                 /* tamaño */
  color: #666;                     /* color gris */
}