body {
  font-family: "Inter", sans-serif;
  font-weight: 400; /* texto normal */
}
.fira-code-text {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: 500; /* Medium */
  font-style: normal;
}
.boton_gris{
    background: linear-gradient(to bottom, #f8f9fa, #dee2e6);
    color: #333; 
    font-size: 12px;
    font-weight: 500; 
    padding: 8px 24px;
    border: 1px solid #ccc; 
    border-radius: 6px; 
    cursor: pointer;
    text-decoration: none;
    margin: 12px;
    transition: background 0.9s ease, box-shadow 0.3s ease, transform 0.2s ease;
}

.boton_gris:hover {
    background: linear-gradient(to bottom, #dee2e6, #adb5bd);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); 
}

.boton_gris:active {
  background: linear-gradient(to bottom, #adb5bd, hsl(207, 10%, 60%));
  transform: scale(0.95);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}


